<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimao.cloud.system.mapper.StoreHouseAllMapper">

    <select id="pageStoreHouseAll" resultType="com.yimao.cloud.pojo.dto.system.StoreHouseAllDTO">
        SELECT DISTINCT
        sha.id,
        sha.goods_id AS goodsId,
        sha.stock_count AS stockCount,
        gc1.`name` AS firstCategoryName,
        gc2.`name` AS twoCategoryName,
        gm.`name` AS goodsName,
        group_concat(mam.device_model_name) as adaptationModel
        FROM
        store_house_all sha
        LEFT JOIN goods_materials gm ON sha.goods_id = gm.id
        left join materials_adaptation_model mam on gm.id = mam.goods_materials_id
        LEFT JOIN goods_category gc1 ON gm.goods_category_id = gc1.id
        LEFT JOIN goods_category gc2 ON gc1.pid = gc2.id
        where 1 = 1
        <if test="adaptationModel != null and adaptationModel.trim() != ''">
            and mam.device_model_name like CONCAT('%', #{adaptationModel}, '%')
        </if>
        <if test="categoryId != null">
            and (gc1.id = #{categoryId} or gc2.id = #{categoryId})
        </if>
        <if test="type != null">
            and gm.type = #{type}
        </if>
        group by sha.id
        order by gm.create_time desc
    </select>

    <resultMap type="com.yimao.cloud.pojo.dto.system.StoreHouseAllDTO" id="adaptionModelMap" autoMapping="true">
        <collection property="materialsAdaptationList"
                    ofType="com.yimao.cloud.pojo.dto.system.MaterialsAdaptationModelDTO"
                    select="selectMaterialsAdaptationById" column="{goodsMaterialsId=goodsId}"/>
    </resultMap>

    <select id="selectMaterialsAdaptationById" resultType="com.yimao.cloud.pojo.dto.system.MaterialsAdaptationModelDTO">
		select
		device_model_name as deviceModelName,
		product_category_id as productCategoryId
		from materials_adaptation_model
		where goods_materials_id = #{goodsMaterialsId}
	</select>

    <select id="pruneStockCountById" resultType="java.lang.Integer">
        update store_house_all
        set stock_count = stock_count - #{count}
        where id = #{id}
        and stock_count - #{count} &gt;= 0
    </select>

    <resultMap type="com.yimao.cloud.pojo.dto.system.StoreHouseAllExportDTO" id="exportAdaptionModelMap" autoMapping="true">
        <collection property="materialsAdaptationList"
                    ofType="com.yimao.cloud.pojo.dto.system.MaterialsAdaptationModelDTO"
                    select="selectMaterialsAdaptationById" column="{goodsMaterialsId=goodsId}"/>
    </resultMap>

    <select id="exportHouseAll" resultType="com.yimao.cloud.pojo.dto.system.StoreHouseAllExportDTO">
        SELECT DISTINCT
        sha.id,
        sha.goods_id AS goodsId,
        sha.stock_count AS stockCount,
        gc1.`name` AS firstCategoryName,
        gc2.`name` AS twoCategoryName,
        gm.`name` AS goodsName,
        group_concat(mam.device_model_name) as adaptationModel
        FROM
        store_house_all sha
        LEFT JOIN goods_materials gm ON sha.goods_id = gm.id
        left join materials_adaptation_model mam on gm.id = mam.goods_materials_id
        LEFT JOIN goods_category gc1 ON gm.goods_category_id = gc1.id
        LEFT JOIN goods_category gc2 ON gc1.pid = gc2.id
        where 1 = 1
        <if test="adaptationModel != null and adaptationModel.trim() != ''">
            and mam.device_model_name like CONCAT('%', #{adaptationModel}, '%')
        </if>
        <if test="categoryId != null">
            and (gc1.id = #{categoryId} or gc2.id = #{categoryId})
        </if>
        <if test="type != null">
            and gm.type = #{type}
        </if>
        group by sha.id
        order by gm.create_time desc
    </select>
</mapper>