<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yimao.cloud.water.mapper.ConditionalAdvertisingModelMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        insert into conditional_advertising__model (
        advertising_id,
        model
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.advertisingId},
            #{item.model}
            )
        </foreach>
    </insert>

</mapper>