<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yimao.cloud.water.mapper.TdsMapper">

    <select id="selectByKT" resultType="com.yimao.cloud.water.po.Tds">
        select * from tds where k = #{k} and t = #{t} limit 1
    </select>

</mapper>