<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yimao.cloud.user.mapper.DepartmentMapper">

    <select id="page" resultType="com.yimao.cloud.pojo.dto.user.DepartmentDTO">
        select
        dept.id as id,
        dept.`name` as name,
        dept.remark as remark,
        dept.creator as creator,
        dept.create_time as createTime,
        dept.updater as updater,
        dept.update_time as updateTime,
        (select count(1) from system_admin where dept_id = dept.id and sys_type = #{sysType}) as accountNumber
        from system_department dept
        where 1=1
        <if test="name!=null and name!=''">
            and dept.`name` like CONCAT('%', #{name}, '%')
        </if>
        <if test="sysType!=null">
            and dept.sys_type = #{sysType}
        </if>
    </select>

</mapper>
