<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimao.cloud.user.mapper.UserChangeMapper">

    <select id="selectChangeRecordByDistributorId" resultType="com.yimao.cloud.pojo.dto.user.UserChangeRecordDTO">
		select
			ucr.id as id,
			ucr.orig_user_id as origUserId,
			ucr.orig_distributor_id as origDistributorId,
			ucr.orig_account as origAccount,
			ud.real_name as origRealName,
			ud2.real_name as destRealName,
			ucr.orig_phone as origPhone,
			ucr.orig_user_type as origUserType,
			ucr.orig_distributor_type as origDistributorType,
			ucr.dest_user_id as destUserId,
			ucr.dest_distributor_id as destDistributorId,
			ucr.dest_account as destAccount,
			ucr.dest_phone as destPhone,
			ucr.dest_user_type as destUserType,
			ucr.dest_distributor_type as destDistributorType,
			ucr.orig_distributor_data as origDistributorData,
			ucr.dest_distributor_data as destDistributorData,
			ucr.orig_user_data as origUserData,
			ucr.dest_user_data as destUserData,
			ucr.type,
			ucr.time,
			ucr.terminal,
			ucr.amount,
			ucr.order_id as orderId,
			ucr.source,
			ucr.share_id as shareId,
			ucr.remark,
			ucr.creator
		from
		user_change_record ucr
		left join user_distributor ud on ucr.orig_distributor_id=ud.id
		left join user_distributor ud2 on ucr.dest_distributor_id=ud2.id
		where
		ucr.orig_distributor_id=#{userId}
    </select>

	<select id="selectDestTransferRecord" resultType="com.yimao.cloud.pojo.dto.user.UserChangeRecordDTO">
		select
			ucr.id as id,
			ucr.orig_user_id as origUserId,
			ucr.orig_distributor_id as origDistributorId,
			ucr.orig_account as origAccount,
			ud.real_name as origRealName,
			ud2.real_name as destRealName,
			ucr.orig_phone as origPhone,
			ucr.orig_user_type as origUserType,
			ucr.orig_distributor_type as origDistributorType,
			ucr.dest_user_id as destUserId,
			ucr.dest_distributor_id as destDistributorId,
			ucr.dest_account as destAccount,
			ucr.dest_phone as destPhone,
			ucr.dest_user_type as destUserType,
			ucr.dest_distributor_type as destDistributorType,
			ucr.orig_distributor_data as origDistributorData,
			ucr.dest_distributor_data as destDistributorData,
			ucr.orig_user_data as origUserData,
			ucr.dest_user_data as destUserData,
			ucr.type,
			ucr.time,
			ucr.terminal,
			ucr.amount,
			ucr.order_id as orderId,
			ucr.source,
			ucr.share_id as shareId,
			ucr.remark,
			ucr.creator
		from
		user_change_record ucr
		left join user_distributor ud on ucr.orig_distributor_id=ud.id
		left join user_distributor ud2 on ucr.dest_distributor_id=ud2.id
		where
		ucr.type=10
		and ucr.dest_distributor_id=#{userId}
	</select>


	<select id="queryChangeRecord" resultType="com.yimao.cloud.pojo.dto.user.UserChangeRecordDTO">
		select
			ucr.id as id,
			ucr.orig_user_id as origUserId,
			ucr.orig_distributor_id as origDistributorId,
			ucr.orig_account as origAccount,
			ucr.orig_phone as origPhone,
			ucr.orig_user_type as origUserType,
			ucr.orig_distributor_type as origDistributorType,
			ucr.dest_user_id as destUserId,
			ucr.dest_distributor_id as destDistributorId,
			ucr.dest_account as destAccount,
			ucr.dest_phone as destPhone,
			ucr.dest_user_type as destUserType,
			ucr.dest_distributor_type as destDistributorType,
			ucr.orig_distributor_data as origDistributorData,
			ucr.dest_distributor_data as destDistributorData,
			ucr.orig_user_data as origUserData,
			ucr.dest_user_data as destUserData,
			ucr.type,
			ucr.time,
			ucr.terminal,
			ucr.amount,
			ucr.order_id as orderId,
			ucr.source,
			ucr.share_id as shareId,
			ucr.remark,
			ucr.creator
		from
		user_change_record ucr
		where
		ucr.type=6
		and ucr.orig_distributor_id=#{distributorId}
		and ucr.orig_user_id = #{id}
		order by ucr.time desc
		limit 1
	</select>

</mapper>
