<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yimao.cloud.user.mapper.UserAliasMapper">


    <update id="updateByUserAlias">
        update user_alias set client_name = #{clientName},star_num = #{starNum},update_time = #{updateTime} where user_id = #{userId} and client_id = #{clientId}
    </update>
</mapper>