<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yimao.cloud.order.mapper.WorkOrderRefuseMapper">

    <select id="selectByWorkOrderId" resultType="com.yimao.cloud.order.po.WorkOrderRefuse">
        select
            id,
            engineer_id as engineerId,
            engineer_name as engineerName
        from
            workorder_refuse
        where
            work_order_id = #{workOrderId} and province = #{province} and city = #{city} and region = #{region}
    </select>

</mapper>